.startup-container {
  margin: 50px;
}
.search-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  grid-gap: 30px;

  min-height: 100%;
  margin-top: 40px;
}

.spin-container {
  text-align: center;
}

.card {
  display: grid;
  grid-template-rows: 1fr;
  border: 2px solid gray;
}
.span-filter {
  text-align: right;
  margin-right: 10px;
}

.card-image {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid gray;
  padding: 20px;
}
